
// a simple tall rectangle, represented in the /example/images/tall-rectange.svg file
$default-linker-image: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.3 34.7"><defs><style>.cls-1{fill:#555;}</style></defs><title>tall-rectangle</title><rect class="cls-1" width="8.3" height="25.7"/></svg>');

@mixin unordered-list-linker(
	$linker-image: $default-linker-image,
	$linker-image-left-offset: 15px,
	$linker-image-size: 15px,
	$linker-image-top-offset: -5px,
	$bullet-color: #555,
	$bullet-offset: 16px,
	$bullet-size: 34px,
	$bullet-top: 23px
) {
	&__unordered-list {
	    display: block;
	    height: auto;
	    position: relative;

	    &:before {
			background-image: $linker-image;
		    background-repeat-x: no-repeat;
		    background-size: 100%;
			content: "";
			height: 100%;
			left: $linker-image-left-offset;
			position: absolute;
			top: $bullet-size + $bullet-top + $linker-image-top-offset;
			width: $linker-image-size;
		}

		&:last-child {
			&:before {
				content: none;	
			}
		}
	}

	&__item {
		float: left;
		width: calc(100% - #{$bullet-size + $bullet-offset + 1px});
	}

	&__bullet {
	    float: left;
	    height: $bullet-size + $bullet-offset;
	    top: $bullet-top;
	    position: relative;
	    width: $bullet-size + $bullet-offset;

	    &:after {
			background-color: $bullet-color;
			border-radius: 50%;
			content: "";
			height: $bullet-size;
			position: absolute;
			width: $bullet-size;
		}
	}

    &__clear {
    	clear: both;
    }
}